.login-page {
  background-image: url('../../assets/img/login-bg.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.login-wrapper {
  background: white;
  height: 100vh;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
  margin: 0 0 0 auto;
  max-width: 600px;
}
.login-logo {
  margin: 20px 0 40px;
}

.login-form {
  padding: 25px 10px;
  border-radius: 10px;
  border: 1px solid var(--lightgrey);
}

.login-field {
  padding: 15px 25px;
}

.login-alternative {
  display: flex;
  justify-content: space-between;
}
.login-alternative-link {
  color: var(--lightgrey);
}