.provider-box {
  display: grid;
  grid-template-columns: 30% auto;
}
.provider-box, .provider-box-mouseover {
  font-size: .95em;
  border-radius: 5px;
  border: 1px solid var(--grey);
  padding: 20px 0;
  background: var(--light);
}

.provider-box-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-right: 2px solid var(--lightgrey);
}
.provider-box-profile-image {
  width: 70px;
  height: 70px;
  background-size: contain;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--grey);
}
.provider-box-profile-button:disabled {
  background: var(--medium);
}

.provider-box-profile-button {
  padding: 5px 12px;
  background: var(--secondary);
  color: var(--light);
  border: 0;
  border-radius: 100px;
}
.provider-box-info {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.provider-box-info-header {
  display: flex;
  justify-content: space-between;
}

.provider-box-info-name {
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: 500;
}


.provider-circle {
  width: 60px;
  height: 60px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  position: relative;
  background-size: contain;
}

.provider-circle-button {
  position: absolute;
  left: 70%;
  top: -10%;
  border-radius: 100px;
  border: 1px solid var(--medium);
  padding: 5px;
  width: 30px;
  height: 30px;
  color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.provider-circle-mouseover {
  z-index: 2;
  position: absolute;
  width: 100vw;
  max-width: 400px;
  top: 25px;
  left: 25px;
}