.service-box {
  margin: 10px 0;
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}
.service-box-info {
  flex-grow: 1;
  padding-right: 20px;
}
/* .service-box-header {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
} */
.service-box-title {
  margin: 0;
  font-size: 1.1em;
  display: inline-flex;
  margin-right: 10px;
}

.service-box-draft {
  margin-right: 20px;
}
.service-box-adress {
  margin: 5px 0 10px;
  font-size: .85em;
}
.service-box-date {
  margin: 0;
  font-size: .95em;
  font-style: italic;
}
.service-box-tags {
  font-size: .9em;
  display: flex;
  flex-wrap: wrap;
  /* background: brown; */
  gap: 10px ;
  align-items: center;
}

.service-box-category {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  height: fit-content;
  border-radius: 100px;
  padding: 5px 10px;
  font-size: .9em;
  font-weight: normal;
  color: var(--primary);
}
.service-box-button{
  width: 40px;
  display: flex;
  justify-content: flex-end;
}
.service-box-button:hover {
  cursor: pointer;
}

.service-box-info:hover {
  cursor: pointer;
}