.service-box {
  margin: 10px 0;
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: flex-start;
}
.service-box.user {
  grid-template-columns: 98% 2%;
}
.service-box-info {
  flex-grow: 1;
  padding-right: 20px;
  text-align: justify;
}
/* .service-box-header {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: flex-start;
} */
.service-box-title {
  margin: 0;
  font-size: 1.1em;
  display: inline-flex;
  margin-right: 10px;
}

.service-box-draft {
  margin-right: 20px;
}
.service-box-adress {
  margin: 5px 0 10px;
  font-size: .85em;
}
.service-box-date {
  margin: 0;
  font-size: .95em;
  font-style: italic;
}
.service-box-tags {
  font-size: .9em;
  display: flex;
  flex-wrap: wrap;
  /* background: brown; */
  gap: 10px ;
  align-items: center;
}

.service-box-category {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  height: fit-content;
  border-radius: 100px;
  padding: 5px 10px;
  font-size: .9em;
  font-weight: normal;
  color: var(--primary);
}
.service-box-button{
  width: 40px;
  display: flex;
  justify-content: center;
}
.service-box-button:hover {
  cursor: pointer;
}

.service-box-info:hover {
  cursor: pointer;
}


.service-box-user {
  /* background: burlywood; */
  padding: 5px 0 5px 20px;
  box-sizing: border-box;
  border-left: 1px solid var(--grey);
  align-self: stretch;
}
.service-box-user-info {
  display: flex;
}
.service-box-user-avatar {
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid var(--grey);
  margin-right: 15px;
}
.service-box-user-info p {
  margin: 0 0 10px;
}
.service-box-user-button {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.service-box-price {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}