.negotiation-box-opened {
  display: grid;
  grid-template-columns: 30% 68% 2%;
  align-items: flex-start;
}

.negotiation-box-provider {
  box-sizing: border-box;
  padding-right: 20px;
}
.proposal-provider-button {
  width: 100%;
}
.negotiation-box-budget {
  flex-grow: 1;
  padding-left: 25px;
  border-left: 1px solid var(--medium);
}
/* .negotiation-box-header {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
} */
.negotiation-box-title {
  margin: 0;
  font-size: 1.1em;
  display: inline-flex;
  margin-right: 10px;
}
.negotiation-box-content {
  flex-grow: 1;
}

.negotiation-box-date {
  font-size: .9em;
}

.negotiation-box-adress {
  margin: 5px 0;  
}

.negotiation-box-button {
  border: 0;
  background: transparent;
}