@import "../../variables.scss";

.hero-body {
  width: 100%;
}
@media screen and (min-width: $desktop) {
  .hero-body {
    height: 70vh;
    background-size: cover;
    padding-left: 5rem;
  }
}