.points-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  height: 70vh;
  min-height: 280px;
  padding: 70px 0;
}

.pack {
  border: 1px solid var(--grey);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  min-width: 200px;
  height: 100%;
  display: grid;
  grid-template-rows: 60px 50px 50px auto 50px;
  text-align: center;
  color: var(--dark);
}

.pack-background {
  background: var(--secondary);
  position: relative;
  left: -20px;
  top: -20px;
  width: calc(100% + 40px);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pack-background img {
  position: relative;
  top: 20px;
  height: 40px;
}

.pack-title {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.pack-description {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.pack-price {
  font-size: 32px;
  margin: 0;
}

.pack-discount {
  font-size: 14px;
  margin: 5px;
  color: #22d157;
  font-weight: bold;
}

.payment-page {
  color: var(--dark);
  display: grid;
  height: 100vh;
  grid-template-columns: 50% 50%;
}

.payment-info {
  height: 100%;
  padding: 50px 20px;
  /* background: aquamarine; */
  width: 55%;
  margin: auto;
}

.payment-info * {
  margin-bottom: 15px;
}
.item-image {
  display: block;
  width: 100%;
  margin: auto; 
}

.payment-info-header {
  margin: 0 0 40px -40px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.payment-info-header:hover {
  cursor: pointer;
}

.payment-form {
  height: 100%;
  background: var(--light);
  box-shadow: 1px 1px 3px 3px var(--lightgrey);
  padding: 50px;
}
.payment-form form {
  width: 70%;
  margin: auto;
}
.payment-input {
  display: block;
  width: 100%;
  margin: 10px 0 30px;
  border: 1px solid var(--medium);
  border-radius: 5px;
  padding: 10px;
}
.payment-form .button {
  width: 100%;
}
.payment-loading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}