@import "../../variables.scss";

.alert {
  box-shadow: 0 3px 5px $dark;
  
  .modal-background {
    background: rgba($grey, .4);
  }
  .modal-content {
    width: fit-content;
    max-width: 90%;
  }

  .message-header {
    background: $light;
    border-bottom: 1px solid $grey-lighter;
  }
  .message-body {
    background: $white;
    word-wrap: break-word;
  }
}