.collapse-option {
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 20px;
  margin: 5px 0;
}
.collapse-option.closed { 
  background: var(--light);
}

.collapse-closed {
  width: 100%;
  display: grid;
  grid-template-columns: auto 50px;
}

.collapse-button {
  border: 0;
  background: transparent;
  color: var(--dark);
}
.collapse-closed:hover {
  cursor: pointer;
}