.collapse-option {
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 20px;
  margin: 5px 0;
  position: relative;
}
.collapse-option.closed { 
  background: var(--light);
  background-size: cover;
}
.collapse-option-bg { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .3;
}
.collapse-option-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background: var(--primary);
} 

.collapse-closed {
  position: relative;
  z-index: 10;
  width: 100%;
  display: grid;
  grid-template-columns: auto 50px;
}

.collapse-button {
  border: 0;
  background: transparent;
  color: var(--dark);
}
.collapse-closed:hover {
  cursor: pointer;
}