@import "../../variables.scss";

.navbar-wrapper {
  height: 85px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 2px 4px rgba($color: $grey-lighter, $alpha: 0.7) ;

  .navbar-brand {
    min-height: 5rem;

    .navbar-item img {
      max-height: 3rem;
    }

    .navbar-burger {
      background: transparent;
      height: auto;
    }
  }

  .navbar-menu {
    position: absolute;
    width: 100%;
  }
}

@media screen and (min-width: $desktop) {
  .navbar {
    .navbar-menu {
      position: initial;
      width: auto;
    }
  }
}


.menu-tab {
  position: relative;
  &.is-active {
    &::after {
      position: absolute;
      left: calc(50% - 75px);
      top: 5px;
      content: '';
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent transparent $primary;
    }
  }
  &.is-active {
    @media screen and (min-width: $desktop) {
      &::after {
        border: 0;
        width: 40%;
        height: 4px;
        left: 30%;
        top: 120%;
        border-radius: 10px;
        background: $light-blue;
      }
    }
  }
}

.navbar-dropdown {
  .menu-tab {
    @media screen and (min-width: $desktop) {
      &::after {
        content: none;
      }
    }
  }  
}