.loading {
  animation: spin 1s linear;
  animation-iteration-count: infinite;
  stroke: var(--primary);
}
.loading-wrapper {
  width: fit-content;
  animation: bounce 2s linear;
  animation-iteration-count: infinite;
}

.with-logo {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.loading-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2.5s linear;
  animation-iteration-count: infinite;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}