.upload-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  /* background: chocolate; */
}

.upload-image {
  /* border: 0; */
  border: 1px solid var(--grey);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.upload-image-input {
  display: none;
}

.upload-image-preview {
  width: 100%;
  height: 100%;
  background-color: grey;
  background-size: cover;
  background-position: center;
}

.upload-image:hover {
  cursor: pointer;
}
.upload-image:hover .upload-image-button {
  cursor: pointer;
  opacity: 0.8;
}
