
.table-wrapper {
  overflow: auto;
}
.table-button {
  padding: 5px;
  border: 0;
  color: var(--light);
  border-radius: 5px;
  margin: 0 5px;
  background: var(--secondary);
}

table, th, td {
  min-width: 100%;
  border: 1px solid var(--grey);
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  white-space: nowrap;
  width: fit-content;
  text-align: center;
}
th {
  background: rgb(177, 230, 247);
}