@charset "utf-8";
@import "./variables.scss";

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url("./assets/fonts/Montserrat-Regular.otf") format("otf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url("./assets/fonts/Montserrat-Bold.otf") format("otf");
}

// Update Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$primary: $blue;
$info: $light-blue;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box !important;
}

html, body {
  width: 100vw;
}

.navbar-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-content {
    flex-grow: 1;
  }
}

.has-shadow {
  box-shadow: $box-shadow;
}