@charset "utf-8";

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url("./assets/fonts/Montserrat-Regular.otf") format("otf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url("./assets/fonts/Montserrat-Bold.otf") format("otf");
}


@import "./variables.scss";
@import "../node_modules/bulma/bulma.sass";

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box !important;
}

html, body {
  width: 100vw;
}

.navbar-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  &-content {
    flex-grow: 1;
  }
}

.has-shadow {
  box-shadow: $box-shadow;
}

.box {
  border: 1px solid $grey-light;
  border-radius: 5px;
  box-shadow: none;
  &:not(:last-child) {
    margin-bottom: .7rem;
  }
}

.loader {
  width: 100px;
  height: 100px;
  margin-top: 10rem;
}
