html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Montserrat', 'Arial', sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

:root {
  --primary: #0F4B8A;
  --secondary: #24B3B4;
  --lighter: #FEFEFE;
  --light: #F8F8F8;
  --lightgrey: #d4d4d4;
  --medium: #ACACAC;
  --grey: #707070;
  --dark: #3A3A3A;
  --danger: #f74049;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url("/src/assets/fonts/Montserrat-Regular.otf") format("otf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url("/src/assets/fonts/Montserrat-Bold.otf") format("otf");
}

button:hover, a:hover {
  cursor: pointer !important;
}

.input-simple {
  border: 1px solid var(--medium);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.button-simple {
  position: relative;
  color: var(--secondary);
  border: 0;
  background: transparent;
  transition: all .5s ease;
}
.button-simple:hover {
  color: var(--primary);
}

.button-simple.active::after {
  content: '';
  width: 40%;
  height: 4px;
  position: absolute;
  left: 30%;
  bottom: -10px;
  border-radius: 10px;
  background: var(--secondary);
}

.main-page {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-page-content {
  flex-grow: 1;
}