html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

* {
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --primary: #0F4B8A;
  --secondary: #24B3B4;
  --lighter: #FEFEFE;
  --light: #F8F8F8;
  --grey: #707070;
  --dark: #3A3A3A;
  --medium: #ACACAC;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url("/src/assets/fonts/Montserrat-Regular.otf") format("otf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url("/src/assets/fonts/Montserrat-Bold.otf") format("otf");
}



.button-simple {
  color: var(--secondary);
  border: 0;
  background: transparent;
  transition: all .5s ease;
}
.button-simple:hover {
  cursor: pointer;
  color: var(--primary);
}