.banner {
  position: relative;
  height: 500px;
  background: url('../../assets/img/imagem1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: left;
}
.banner-content {
  position: relative;
  width: 400px;
  margin: -100px 0 0 100px;
}
.banner-title {
  color: var(--primary);
}
.banner-button {
  border-radius: 100px;
  color: var(--primary);
  border: 1px solid var(--primary);
  background: transparent;
  padding: 10px 30px;
  transition: all .25s ease;
}
.banner-button:hover {
  background: var(--primary);
  color: var(--light);
  transform: scale(1.05);
}